@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}



html, body {
    max-width: 100%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto', sans-serif;
    background: #ACB2A3;

}
a, a:visited {
  text-decoration: none;
  color: #323333;
}
.main {
    height: 100vh;
    text-align: center;
}

.me {
    width: auto;
    min-width: 300px;
    height: 20vw;
    min-height: 150px;
    margin-left: 45%;
    line-height: 5px;
    margin-top: 5%;
    position: fixed;
    z-index: -1;
    alignment: center;
    text-align: center;
}
.img-container {
  display:flex;
  justify-content: center;
}
/* ----------------------------Contact---------------------------- */

#sm-container, #skillIconContainer{
    display: flex;
    margin: auto;
    flex-direction: row;
    width: 780px;
    text-align: center;

}

.contactDetails {
  padding-bottom: 60px;
}
.contactDetails p{
  text-align: center;
  line-height: calc(14px + 0.8vw); font-size: calc(8px + 0.5vw);
  color: #808080;
}
.icon {
    height: 7vw;
    width: 7vw;
    min-width: 50px;
    min-height: 50px;
    max-width: 80px;
    max-height: 80px;
    background-color: #303232;
    background-size: 50% 50%;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
    display: inline-block;
    margin: auto;
    padding: auto;
}

 .icon:hover {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 9px 0 rgba(0, 0, 0, 0.19);
}
.linkedin {
  background-image: url("img/linkedin.svg");
}

.xing{
  background-image: url("img/xing.svg");
}

.mail {
  background-image: url("img/mail.svg");
}



.backgroundcolor {
    background: linear-gradient(90deg, rgba(182,185,178,0.02) 0%, rgba(182,185,178,0.30) 1%, rgba(177,183,168,1) 6%, rgba(165,171,156,1) 30%, rgba(70,132,146,1) 100%);
    position: sticky;
    z-index: -2;
    height: 100vh;
}

.fixed-bg {
    background-image: url("websitepic.png");
    width: 100%;
    min-height: 100%;
    padding-top: 10vw;
    background-attachment: fixed;
    background-position: left 90%;
    background-repeat: no-repeat;
    background-size: auto calc(250px + 30vw);
    max-height: 400px;
}



.smallpic  {
  visibility: hidden;
  height: 0px;
}


.top {
    width: 100%;
    position: relative;
}


.firstname {
    color: white;
    font-size:calc(24px + 5vw);
    letter-spacing:calc(2px + 0.5vw);
    margin-inline: auto;
    position: relative;
    text-align: center;
}

.lastname {
    color: #D1FAFF;
    font-size:calc(25px + 4.6vw);
    font-weight: bold;
    line-height: 0px;
    margin-top:calc(15px + 4.5vw);
    margin-bottom:calc(17px + 3.2vw);
    margin-inline: auto;
    position: relative;
    text-align: center;
}

.hrme {
    border:none;
    height: 2px;
    width:calc(125px + 23.5vw);
    color: white;
    margin-bottom:calc(10px + 1.3vw);
    background-color: white;
    alignment: center;
    text-align: center;
    margin-inline:auto;
    position: relative;
}

.job {
    color: white;
    font-size:calc(12.5px + 2.1vw);
    line-height: 0px;
    margin-inline: auto;
    position: relative;
    text-align: center;
}



.main h1 {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    font-size: 100px;
}

.nav {
    width: 100%;
    text-align: center;
    font-size:calc(10px + 1vw);
    background: #303232;
    color: #9EEBF0;
    left: 0;
    box-shadow: 0px 8px 16px 15px rgba(48, 50, 50, 0.70);
    z-index: 5;
}

.nav-hr {
    border-color: #acb2a3;
    background-color: #acb2a3;
    margin-top: 15px;
    margin-bottom: 0;
    padding-bottom: 0;
}

.top-nav {
    position: fixed;
    top: 0;
}

.bottom-nav {
    position: absolute;
    bottom: 0;
}

.nav ul li {
    list-style-type: none;
    display: inline-block;
    margin: 25px 35px 10px 25px;

}




.nav ul li .nav-link {
    text-decoration: none;
    color: #9EEBF0;
    padding-block: 10px;
    padding-inline: 25px;
    margin-top: 20px;
    margin-bottom: -10px;
    scroll-margin: 100px;

}


.nav ul li .nav-link:hover, .active {
    background: #9EEBF0;
    border-radius: 35px;
    color: #303232 !important ;

}



.headingBlue {
    color: #81e6f4;
    text-align: center;
    margin-bottom: 1vw;
}

h1 {
    font-size:calc(15px + 1.5vw);
}

.bodyText {
    font-weight: 300;
    font-size: 20px;
    line-height:32px;
    color: white;
    padding: 20px 0px;
}



.headingGrey {
    color: #323333;
    text-align: center;
    margin-bottom: 2vw;
}

.greycontainer {
    background: #303232;
}

.innercontainer {
    width: 780px;
    margin: auto;
    padding: 60px 0px;
    min-width: 300px;
}



.olivecontainer {
    background: #ACB2A3;
    margin-inline: -15px;
    padding-block: 5vw;
    height: auto;
  /*  padding-top: 60px; */
}

.olivecontainerTLDR {
    background: #ACB2A3;
    margin-inline: -15px;
    /* padding-block: 5vw; */
    height: auto;
  /*  padding-top: 60px; */
}

p {
    text-align: justify;
}

.circle1, .circle2, .circle3 {
    height: 220px;
    width: 220px;
    background-color: #CECECE;
    border-radius: 50%;
}
.circle2 {
  margin: 0 auto;
}


/* .circle:before {
    content: ' \25CF';
    font-size: 200px;
} */


.greycontainerskills {
    background: #303232;
    padding: 20px 0px;
  }

.skillSet {
  width: 780px;
  margin: auto;
}



#skillcontent {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin:20px 0px;

}


.skill {

    color: white;
    font-weight: 300;
    line-height: 44px;
    font-size: 20px;

}

.skill li {
  display: grid;
  grid-template-columns: 120px 100px;
  justify-content: center;
}

h4 {
    color: #81e6f4;
    margin-bottom: 0.6vw;
}

ul {
    list-style-type: none;
}

.dotcontainer {
    margin-right: 0;
    float:right;
}

.dotblue {

    background-color: #67D7E6;
    border-radius: 50%;
    display: inline-block;
    position: center;
    align-items: center;
    margin-inline: 3px;
    alignment: right;
    text-align: right;
}

.dotgrey {

    background-color: #C4C4C4;
    border-radius: 50%;
    display: inline-block;
    position: center;
    align-items: center;
    margin-inline: 3px;
    alignment: right;
    text-align: right;
}


/* ----------------------------TIME LINE----------------------------*/


/* Set a background color */


/* The actual timeline (the vertical ruler) */
.timeline {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
    z-index: 0;
    width: 780px;

}

/* The actual timeline (the vertical ruler) */
.timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: #C4C4C4;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
}

/* Container around content */
.container {
    position: relative;
    background-color: inherent;
    width: 50%;
    color: white;
}

/* The circles on the timeline */
.container::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -17px;
    background-color: #c4c4c4;
    border: 4px solid #c4c4c4;
    top: 15px;
    border-radius: 50%;
    z-index: 0;
}

/* Place the container to the left */
.left {
    left: 0;
    padding: 10px 50px 10px 0;
}

/* Place the container to the right */
.right {
    left: 50%;
    padding: 10px 0px 10px 50px;
}

/* Add arrows to the left container (pointing right) */
.left::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 0;
    right: 30px;
    border: medium solid white;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent white;
}

/* Add arrows to the right container (pointing left) */
.right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 0;
    left: 30px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
}

/* Fix the circle for containers on the right side */
.right::after {
    left: -16px;
}

/* The actual content */
.content {
    padding: 20px 30px;
    background-color: #303232;
    position: relative;
    border-radius: 90px;
    text-align: center;
    color: #67D7E6;
    font-size:calc(7px + 0.6vw);
}

/* Media queries - Responsive timeline on screens less than 600px wide */


.what {
    text-align: center;
    alignment: center;
    font-size:calc(14px + 0.7vw);
    color: white;
    margin-block: 8px;
    font-weight: 400;
}

.where {
    text-align: center;
    alignment: center;
    color: #C4C4C4;
    font-size:calc(9px + 0.6vw);
    font-weight: 400;
}

/* ----------------------------LANGUAGE CHARTS---------------------------- */
/**
 * 1. The `reverse` animation direction plays the animation backwards
 *    which makes it start at the stroke offset 100 which means displaying
 *    no stroke at all and animating it to the value defined in the SVG
 *    via the inline `stroke-dashoffset` attribute.
 * 2. Rotate by -90 degree to make the starting point of the
 *    stroke the top of the circle.
 * 3. Using CSS transforms on SVG elements is not supported by Internet Explorer
 *    and Edge, use the transform attribute directly on the SVG element as a
 * .  workaround (https://markus.oberlehner.net/blog/pure-css-animated-svg-circle-chart/#part-4-internet-explorer-strikes-back).
 */
.circle-chart__circle {
    animation: circle-chart-fill 6s reverse; /* 1 */
    transform: rotate(-90deg); /* 2, 3 */
    transform-origin: center; /* 4 */
}

/**
 * 1. Rotate by -90 degree to make the starting point of the
 *    stroke the top of the circle.
 * 2. Scaling mirrors the circle to make the stroke move right
 *    to mark a positive chart value.
 * 3. Using CSS transforms on SVG elements is not supported by Internet Explorer
 *    and Edge, use the transform attribute directly on the SVG element as a
 * .  workaround (https://markus.oberlehner.net/blog/pure-css-animated-svg-circle-chart/#part-4-internet-explorer-strikes-back).
 */
.circle-chart__circle--negative {
    transform: rotate(-90deg) scale(1,-1); /* 1, 2, 3 */
}

.circle-chart__info {
    animation: circle-chart-appear 2s forwards;
    opacity: 0;
    transform: translateY(0.3em);
    color: firebrick;
}

@keyframes circle-chart-fill {
    to { stroke-dasharray: 0 100; }
}

@keyframes circle-chart-appear {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.grid {
    display: grid;
    grid-column-gap: 0em;
    grid-row-gap: 5em;
    grid-template-columns: repeat(4, 1fr);
    width:780px;
    margin: 50px auto;
}

.circle-chart {
  width: 180px;
  height: 180px;
}



.portfolioHeading {
    font-size: calc(11px + 1.1vw);
    color: #81e6f4;
    text-align: center;
    margin-bottom:calc(5px + 1vw);
}

.portfolioHr {
    margin-bottom:calc(10px + 1vw);
}

.researchProjectInstance {
    margin-bottom:calc(20px + 4vw);;
}

.researchPic {
    width: 100%;
}

/* ART */

.artcontainer {
    height: auto;
    background: rgba(201,201,189,1);
    opacity: 1;
    position: relative;
    overflow: hidden;
    /*margin-top:calc(20px + 4vw);*/
    padding-top: 20px;
}

/*@media (max-width: 700px) {
    .artcontainer {
        height: 550px;
    }
}*/

.gridart {
    display: grid;
    grid-column-gap: 0em;
    grid-row-gap: 5em;
    grid-template-columns: repeat(2, 1fr);
    max-width: 1000px;
    margin: 50px auto;
}





.spherecontainer {
    width: 183px;
    height: 200px;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 1;
    position: relative;
    overflow: hidden;
    margin-inline: auto;
}

.sphereshadow {
    width: 180px;
    height: 103px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 101px;
    left: 20px;
    overflow: hidden;
    padding-left: 40px;
}

.outershadow {
    width: 148px;
    height: 55px;
    background: rgba(175,175,175,0.3);
    opacity: 1;
    position: absolute;
    top: 15px;
    left: 12px;
    border-radius: 50%;
    transform: rotate(-9deg);
    -webkit-filter: blur(7px);
    -moz-filter: blur(7px);
    -o-filter: blur(7px);
    -ms-filter: blur(7px);
    filter: blur(7px);
}

.middleshadow {
    width: 137px;
    height: 58px;
    background: rgba(175,175,175,0.40);
    opacity: 1;
    position: absolute;
    top: 8px;
    left: 15px;
    border-radius: 50%;
    transform: rotate(-9deg);  -webkit-filter: blur(7px);
    -moz-filter: blur(4px);
    -o-filter: blur(4px);
    -ms-filter: blur(4px);
    filter: blur(4px);
}

.innershadow {
    width: 118px;
    height: 62px;
    background: rgba(137, 137, 137, 0.35);
    opacity: 1;
    position: absolute;
    top: 5px;
    left: 14px;
    border-radius: 50%;
    transform: rotate(-9deg);
    -moz-filter: blur(4px);
    -o-filter: blur(4px);
    -ms-filter: blur(4px);
    filter: blur(6px);
}

.spheredody {
    width: 160px;
    height: 160px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
}

.shade4 {
    width: 160px;
    height: 160px;
    background: rgba(168,168,168,1);
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    border-radius: 50%;
}

.shade3 {
    width: 140px;
    height: 140px;
    background: rgba(227,227,227,0.19);
    opacity: 1;
    position: absolute;
    top: 3px;
    left: 3px;
    border-radius: 50%;
    -webkit-filter: blur(7px);
    -moz-filter: blur(7px);
    -o-filter: blur(7px);
    -ms-filter: blur(7px);
    filter: blur(7px);
}

.shade2 {
    width: 120px;
    height: 120px;
    background: rgba(227,227,227,0.19);
    opacity: 1;
    position: absolute;
    top: 7px;
    left: 9px;
    border-radius: 50%;
    -webkit-filter: blur(7px);
    -moz-filter: blur(7px);
    -o-filter: blur(7px);
    -ms-filter: blur(7px);
    filter: blur(7px);
}

.sahde1{
    width: 91px;
    height: 91px;
    background: rgba(227,227,227,0.25);
    opacity: 1;
    position: absolute;
    top: 11px;
    left: 15px;
    border-radius: 50%;
    -webkit-filter: blur(6px);
    -moz-filter: blur(6px);
    -o-filter: blur(6px);
    -ms-filter: blur(6px);
    filter: blur(5px);
}

.shine {
    width: 25px;
    height: 31px;
    background: rgba(233,233,233,0.6);
    opacity: 1;
    position: absolute;
    top: 21px;
    left: 45px;
    border-radius: 50%;
    -webkit-filter: blur(12px);
    -moz-filter: blur(12px);
    -o-filter: blur(12px);
    -ms-filter: blur(12px);
    filter: blur(12px);
}

.cubecontainer {
    width: 250px;
    height: 181px;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 1;
    position: relative;
    overflow: hidden;
    margin-inline: auto;
}

.roundshademiddle {
    width: 87px;
    height: 30px;
    background: rgba(137, 137, 137, 0.7);
    opacity: 1;
    position: absolute;
    top: 120px;
    left: 122px;
    border-radius: 50%;
    -webkit-filter: blur(8px);
    -moz-filter: blur(8px);
    -o-filter: blur(8px);
    -ms-filter: blur(8px);
    filter: blur(8px);
}

.supportshadeside1 {
    width: 87px;
    height: 30px;
    background: rgba(137, 137, 137, 0.7);
    opacity: 1;
    position: absolute;
    top: 135px;
    left: 105px;
    border-radius: 50%;
    -webkit-filter: blur(7px);
    -moz-filter: blur(7px);
    -o-filter: blur(7px);
    -ms-filter: blur(7px);
    filter: blur(7px);
}

.mainshade {
    width: 153px;
    height: 40px;
    background: rgba(158,158,158,0.55);
    opacity: 1;
    position: absolute;
    top: 115px;
    left: 65px;
    transform: skewX(-49deg);
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
}

.edgeshade {
    width: 33px;
    height: 30px;
    background: rgba(158,158,158,0.45);
    opacity: 1;
    position: absolute;
    top: 132px;
    left: 162px;
    transform: rotate(-2deg);
    transform: skewY(-24.5deg);
    -webkit-filter: blur(2px);
    -moz-filter: blur(2px);
    -o-filter: blur(2px);
    -ms-filter: blur(2px);
    filter: blur(2px);
}

.backshading {
    width: 140px;
    height: 140px;
    background: rgba(154,154,154,1);
    opacity: 1;
    position: absolute;
    top: 5px;
    left: 54px;
    overflow: hidden;
}

.frontcover1 {
    width: 150px;
    height: 150px;
    background: rgba(178,178,178,1);
    opacity: 1;
    position: absolute;
    top: 20px;
    left: 12px;
    overflow: hidden;
}

.frontcover {
    width: 150px;
    height: 150px;
    background: linear-gradient(120deg, rgba(210, 210, 210, 0.7), rgba(169, 169, 169, 0.7));
    opacity: 1;
    position: absolute;
    top: 15px;
    left: 2px;
    overflow: hidden;
}

.frontshading {
    width: 162px;
    height: 161px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 9px;
    left: 0px;
    overflow: hidden;
}

.v103_15 {
    width: 132px;
    height: 132px;
    background: rgba(180,180,180,0.5);
    opacity: 1;
    position: absolute;
    top: 10px;
    left: 12px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    overflow: hidden;
    -webkit-filter: blur(3px);
    -moz-filter: blur(3px);
    -o-filter: blur(3px);
    -ms-filter: blur(3px);
    filter: blur(3px);
}

.v103_16 {
    width: 114px;
    height: 114px;
    background: rgba(183,183,183,0.7);
    opacity: 1;
    position: absolute;
    top: 10px;
    left: 14px;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    overflow: hidden;
    -webkit-filter: blur(4px);
    -moz-filter: blur(4px);
    -o-filter: blur(4px);
    -ms-filter: blur(4px);
    filter: blur(4px);
}

.v103_17 {
    width: 95px;
    height: 95px;
    background: rgba(185,185,185,1);
    opacity: 1;
    position: absolute;
    top: 12px;
    left: 13px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    overflow: hidden;
    -webkit-filter: blur(10px);
    -moz-filter: blur(10px);
    -o-filter: blur(10px);
    -ms-filter: blur(10px);
    filter: blur(10px);
}

.v103_19 {
    width: 130px;
    height: 130px;
    background: rgba(196,196,196,0.31);
    opacity: 1;
    position: absolute;
    top: 10px;
    left: 12px;
    border-radius: 50%;
    -webkit-filter: blur(8px);
    -moz-filter: blur(8px);
    -o-filter: blur(8px);
    -ms-filter: blur(8px);
    filter: blur(8px);
}

.v103_23 {
    width: 120px;
    height: 120px;
    background: rgba(191,191,191,0.25);
    opacity: 1;
    position: absolute;
    top: 10px;
    left: 12px;
    border-radius: 50%;
    -webkit-filter: blur(8px);
    -moz-filter: blur(8px);
    -o-filter: blur(8px);
    -ms-filter: blur(8px);
    filter: blur(8px);
}

.v103_18 {
    width: 40px;
    height: 40px;
    background: rgba(255, 255, 255, 0.3);
    opacity: 1;
    position: absolute;
    top: 2px;
    left: 3px;
    overflow: hidden;
    -webkit-filter: blur(30px);
    -moz-filter: blur(30px);
    -o-filter: blur(30px);
    -ms-filter: blur(30px);
    filter: blur(30px);
    border-radius: 50%;
}

.v105_27 {
    width: 55px;
    height: 55px;
    background: rgba(196,196,196,0.7);
    opacity: 1;
    position: absolute;
    top: 6px;
    left: 12px;
    border-radius: 50%;
    -webkit-filter: blur(8px);
    -moz-filter: blur(8px);
    -o-filter: blur(8px);
    -ms-filter: blur(8px);
    filter: blur(8px);
}

.shine1 {
    width: 47px;
    height: 41px;
    background: rgba(196,196,196,1);
    opacity: 1;
    position: absolute;
    top: 6px;
    left: 12px;
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
}

.v105_3 {
    width: 152px;
    height: 165px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 5px;
    left: 10px;
    overflow: hidden;
}

/*left edge*/
.v103_24 {
    width: 150px;
    height: 2px;
    background: linear-gradient(160deg,rgba(222,222,222,0.56), rgba(182,182,182,1));
    opacity: 1;
    position: absolute;
    top: 90px;
    left: -72px;
    overflow: hidden;
    transform: rotate(90deg);
}

.coverblurr {
    width: 12px;
    height: 150px;
    background: rgba(201,201,189,1);
    opacity: 1;
    position: absolute;
    top: 20px;
    left: 0px;
    overflow: hidden;
}

.v103_25 {
    width: 150px;
    height: 2px;
    background: linear-gradient(90deg, rgba(222,222,222,0.56), rgba(182,182,182,1));
    opacity: 1;
    position: absolute;
    top: 14px;
    left: 2px;
    overflow: hidden;
}

.v103_27 {
    width: 46px;
    height: 2px;
    background: linear-gradient(40deg, rgba(222,222,222,0.56), rgba(182,182,182,1));
    opacity: 1;
    position: absolute;
    top: 7px;
    left: 1px;
    transform: rotate(-18deg);
    overflow: hidden;
}

.v105_38 {
    width: 195px;
    height: 25px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 4px;
    overflow: hidden;
}

.v105_65 {
    width: 36px;
    height: 1px;
    background: linear-gradient(120deg, rgba(166, 166, 165, 0.8), rgb(155, 155, 155));;
    opacity: 1;
    position: absolute;
    top: 12px;
    left: 155px;
    transform: rotate(-23.5deg);
    overflow: hidden;
}

.v105_20 {
    width: 56px;
    height: 13px;
    background: rgba(215,215,215,0.26);
    opacity: 1;
    position: absolute;
    top: 5px;
    left: 36px;
    border-radius: 50%;
}

.righttop {
    width: 50px;
    height: 14px;
    opacity: 1;
    position: absolute;
    top: 5px;
    left: 124px;
    background: linear-gradient(120deg, rgba(179, 179, 178, 0.8), rgba(155, 155, 155, 1));
    transform: skewX(-66.5deg);
}

.v105_19 {
    width: 137px;
    height: 14px;
    opacity: 1;
    position: absolute;
    top: 5px;
    left: 30px;
    background: linear-gradient(120deg, rgba(218, 218, 216, 0.8), rgba(163, 163, 163, 0.8));
    transform: skewX(-71.5deg);
}

.v105_28 {
    width: 130px;
    height: 15px;
    background: rgba(196,196,196,0.40);
    opacity: 1;
    position: absolute;
    top: 7px;
    left: 29px;
    border-radius: 50%;
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
}

.v105_23 {
    width: 38px;
    height: 6px;
    background: rgba(233,233,233,0.22);
    opacity: 1;
    position: absolute;
    top: 12px;
    left: 16px;
    border-radius: 50%;
    transform: rotate(-15deg);
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
}

.v105_37 {
    width: 68px;
    height: 168px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 4px;
    left: 136px;
    overflow: hidden;
}

.v105_29 {
    width: 32px;
    height: 137px;
    background: rgba(161,161,161,1);
    opacity: 1;
    position: absolute;
    top: 16px;
    left: 26px;
    overflow: hidden;
    transform: skewY(-39deg);
}

.loley {
    width: 32px;
    height: 137px;
    background: rgba(161,161,161,1);
    opacity: 1;
    position: absolute;
    top: 9px;
    left: 26px;
    overflow: hidden;
    transform: skewY(-23.5deg);
}

.v105_33 {
    width: 45px;
    height: 147px;
    background: rgba(178,178,178,0.25);
    opacity: 1;
    position: absolute;
    top: 3px;
    left: 2px;
    border-radius: 50%;
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
}

.v105_34 {
    width: 34px;
    height: 110px;
    background: rgba(178,178,178,0.25);
    opacity: 1;
    position: absolute;
    top: 14px;
    left: 6px;
    border-radius: 50%;
    -webkit-filter: blur(8px);
    -moz-filter: blur(3px);
    -o-filter: blur(3px);
    -ms-filter: blur(3px);
    filter: blur(3px);
}

.v105_66 {
    width: 1px;
    height: 148px;
    background: rgba(172, 172, 172, 1);
    opacity: 1;
    position: absolute;
    top: 15px;
    left: 25px;
    overflow: hidden;
}


/* ----------------------------RESEARCH PROJECTS---------------------------- */


.project-card {
  position: relative;
  min-height: 400px;
  padding-bottom: calc(100% - 16px);
  margin: 0 15px 30px;
  border-radius: 30px;



}
.project-card h2 {
  border-radius: 30px 30px 0 0;
  position: absolute;
  left: 0;
  width: 100%;
  padding: 20px 16px;
  color: #323333;
  font-size: 18px;
  font-weight: 400;
  text-align: center;
  margin: 0;
  z-index: 3;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}


.project-card h2:after {
  top: auto;
  bottom: 0;
}

.project-card.pc-active h2 {
  top: 0;
  padding: 10px 16px 10px 90px;
}
.project-card.pc-active h2:before {
  top: 0;
}
.project-card.pc-active h2:after {
  bottom: -16px;
}
.project-card .pc-content {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  position: absolute;
  right: 0;
  top: 0;
  bottom: 16px;
  left: 0px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  border-radius: 30px;
}

.project-card .pc-description {
  position: absolute;
  right: 30px;
  left: 30px;
  bottom: 54px;
  overflow: hidden;
  opacity: 0;
  min-height:300px;
  filter: alpha(opacity=0);
  -webkit-transition: all 1.2s;
  -moz-transition: all 1.2s;
  -ms-transition: all 1.2s;
  -o-transition: all 1.2s;
  transition: all 1.2s;
}

.project-card  h4 {
  position: absolute;
  top: 200px;
  left: 30px;
  padding: 0;
  margin: 0;
  font-size: 16px;
  font-weight: 700;
  -webkit-transition: all 1.4s;
  -moz-transition: all 1.4s;
  -ms-transition: all 1.4s;
  -o-transition: all 1.4s;
  transition: all 1.4s;
}


.project-card .img-container  {
  border-radius: 30px;
  overflow: hidden;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.project-card.pc-active .img-container {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  left: 16px;
  top: 12px;
  width: 60px;
  height: 60px;
  z-index: 4;
}
.project-card.pc-active .pc-content {
  padding-top: 5.6em;
}
.pc-content img {

  height: 100%;
}

.project-card.pc-active .pc-description {

  padding-top: 0em;
  opacity: 1;
  filter: alpha(opacity=100);
  position: relative;
    right: auto;
    left: auto;
    padding: 20px 30px 70px 30px;
    bottom: 0;
    font-size: 20px;
  }
}
.project-card.pc-active .pc-footer {
  overflow: visible;
  position: absolute;
  top: calc(100% - 16px);
  left: 16px;
  right: 0;
  height: 82px;
  padding-top: 15px;
  padding-left: 25px;
}
.project-card.pc-active .pc-footer a {
  top: 0;
}
.project-card.pc-active .pc-footer h4 {
  top: -32px;
}
.project-card h2 {
  background-color: #9EEBF0;
}

.project-card.pc-active .pc-content {
  background-color: #ACB2A3;
}

.projectPic img{
  width: 90%;
  padding: 20px 0;
}

.projectPicRight img {
  width: 90%;
}
.projectPicRight {
  justify-content: flex-end;
  display: flex;
}

@media screen and (min-width: 1800px) {
  .skillSet, .timeline, .innercontainer, .grid, .rProjects , #sm-container, #skillIconContainer {
    width: 1200px !important;
  }

  .project-card h2 {
    font-size: 24px;
  }
}

@media screen and (max-width: 790px) {
    .smallpic {
        visibility: visible;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 3px 9px 0 rgba(0, 0, 0, 0.19);
        margin-top: 100px;
        width: 25vw;
        height: 25vw;
        min-width: 200px;
        min-height: 200px;
        object-fit: scale-down;
        background-color: #303232;
        border-radius: 50%;
        margin-inline: auto;
        background-image: url("img/avatar.png");
        background-size: cover;
    }

    .fixed-bg {
        background-image: none;
    }
    .me {
        padding-top: 100px;
        margin: auto;
        text-align: center;
        position: relative;
        alignment: center;
    }
}


/* @media screen and (max-width: 900px) {

    .skillSet ul li{
      font-size: 12px;
    }

} */



@media screen and (min-width: 800px)  {
  .row {
    width: 780px;
  }
.rProjects  {
  margin: 0 auto;
  display: grid;
  grid-template-columns: 50% 50%;
  padding-bottom: 40px;
}


  .researchProjects {
  width: 80vw;}

  .skillSetSmall {
    visibility:  hidden;
    height: 0;
}


.dotblue, .dotgrey {
  height: 18px;
    width: 18px;
}
.pPic {
  justify-content: space-around;
}

.pPicSmall {
  visibility: hidden;
  height: 0px;
}
.pPicSmall img {
  height: 0px;
}

.incar {
    padding-top: 140px;
}

.research {
  margin: 0 auto;

}

}


@media screen and (max-width: 799px) {
.skillDetails {
  background: #303232;
  border-radius: 20px;
}

  .gridart {
      grid-template-columns: repeat(1, 2fr);
  }

  .timeline::after {
      left: 31px;
  }
.internship {
  padding-top: 0px;
}

  .container {
      width: 100%;
      padding-left: 70px;
      padding-right: 25px;
  }


  .container::before {
      left: 60px;
      border: medium solid white;
      border-width: 10px 10px 10px 0;
      border-color: transparent white transparent transparent;
  }


  .left::after, .right::after {
      left: 15px;
  }


  .right {
      left: 0%;
  }


.skillSet ul li{

  font-weight: 400;
}

  .nav ul li {
      margin: 25px 0 10px 0px;

  }

  .innercontainer, .skillSet, .timeline, #sm-container, #skillIconContainer {
    width: 95vw;
  }

.skillIcon {
      height: 20vw;
      width: 20vw;
      min-width: 50px;
      min-height: 50px;
      max-width: 100px;
      max-height: 100px;
      background-color: #CECECE;
      background-repeat: no-repeat;
      background-position: center;
      border-radius: 50%;
      margin: 0 auto;
  }

  .skill li {
    grid-template-columns: 50% 30%;

  }
.design {
  background-image: url("img/designSkillIcon.svg");
background-size: 50% 50%;

}
.research {
  background-image: url("img/researchSkillIcon.svg");
background-size: 50% 50%;
}
.programMing {
  background-image: url("img/programmingSkillIcon.svg");
background-size: 50% 50%;
}

  .skillSetBig {
    visibility: hidden;
    height: 0;
  }
  .skill {
    width: 95vw;
    display: grid;
    grid-template-columns: 30% 70%;
    padding: 10px;
  }


  #skillcontent, #skillIconContainer {
      flex-direction: column;
      margin-inline: auto;
  }
  .circle-chart {
    width: 140px;
    height: 140px;
  }

  .grid {
      grid-template-columns: repeat(2, 2fr);
      margin-inline: auto;
      padding-inline: auto;
      width: 90vw;
  }
  .dotblue, .dotgrey{
    height:14px;
    width:14px;

  }
.project-card .pc-content {
  margin-bottom: 60px;
}

  .project-card.pc-active .pc-content {
    position: relative;

  }

  .project-card.pc-active {
    padding-bottom: 4em;
    height: auto;
  }

  .project-card {
    margin: auto;
    width: 320px;
    padding-bottom: 0px;
  }
  .pPic {
    visibility: hidden;
    height: 0;
  }

  .pPicSmall {
    visibility: visible;
    margin: auto;
    padding: 0 10px;

    overflow: hidden;
    text-align: center;
  }

  .pPicSmall img{
    width: 85vw;
  }
  .projectPicRight {
    visibility: hidden;
    height: 0;
  }
  .incar {
      padding: 100px 30px 40px;
  }

.bodyText {
  font-size:14px;
  line-height:24px;
  padding: 0 10px;
}

}

/* Reasearch project */



.tldr {
  color: #323333;

}


.projectPic {
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 460px) {
  .dotblue, .dotgrey{
    height:10px;
    width:10px;
  }



}
